{
  "extends": [
    "oclif",
    "oclif-typescript"
  ],
  "rules": {
    "no-await-in-loop": ["off"],
    "object-curly-spacing": ["error", "always"],
    "unicorn/no-array-reduce": ["off"],
    "unicorn/prefer-node-protocol": ["off"],
    "unicorn/no-array-callback-reference": ["off"]
  }
}
